h1{
    text-align: center;
    letter-spacing: 3px;
    color:#E79CE1;
}

body{
    background-color: #1F1F1F;
}

*{
    font-family: Verdana, Geneva, sans-serif;
}

.titleDiv{
    margin-top:40px;
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
}